<section class="footer">
    <div class="links">
        <a href="#"><img src="~/images/icons/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="~/images/icons/friendster.png" alt="Friendster"></a>
        <a href="#"><img src="~/images/icons/Insta.png" alt="Instagram"></a>
    </div>
    <div class="container">
        <div class="list">
            <h3>Products</h3>
            <div class="list-content">
                <a href="@Url.Action("Index", "Product")#product_sdg"><h5>Sustainable Development Goal</h5></a>
                <a href="@Url.Action("Index", "Product")#product_problem"><h5>Problem</h5></a>
                <a href="@Url.Action("Index", "Product")#product_vision"><h5>Vision</h5></a>
                <a href="@Url.Action("Index", "Product")#product_objectives"><h5>Objectives</h5></a>
                <a href="@Url.Action("Index", "Product")#product_implementation"><h5>Implementation</h5></a>
            </div>
        </div>
        <div class="list">
            <h3>Implementation</h3>
            <div class="list-content">
                <a href="@Url.Action("Index", "DataScience")#datasci_datacol"><h5>Data Collection</h5></a>
                <a href="@Url.Action("Index", "DataScience")#datasci_model"><h5>Model Building</h5></a>
                <a href="@Url.Action("Index", "DataScience")#datasci_model_2"><h5>Model Deployment</h5></a>
                <a href="@Url.Action("Index", "DataScience")#datasci_stake"><h5>Communication</h5></a>
                <a href="@Url.Action("Index", "DataScience")#datasci_budget"><h5>Budget</h5></a>
                <a href="@Url.Action("Index", "DataScience")#datasci_tech"><h5>Technologies</h5></a>
            </div>
        </div>
        <div class="list">
            <h3>Innovations</h3>
            <div class="list-content">
                <a href="@Url.Action("Index", "Innovations")#innov_1"><h5>Cleaning Robots</h5></a>
                <a href="@Url.Action("Index", "Innovations")#innov_2"><h5>Plastic Monitoring System</h5></a>
                <a href="@Url.Action("Index", "Innovations")#innov_3"><h5>Mobile Collection Units</h5></a>
                <a href="@Url.Action("Index", "Innovations")#innovation_goals"><h5>Future Goals</h5></a>
            </div>
        </div>
    </div>

    <div class="copyright">
        <p>© 2025 PLASMA, Guiruela, Lirio, Lorilla, Terashita Inc.</p>
    </div>
</section>
